{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>LaxLink</h1>
    <p class="lead">This is your one stop lacrosse community portal combining team schedules, scores and forums.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Find Your Team</h2>
        <p>
            LaxLink provides an easy way to follow your favorite lacrosse teams schedule and standings. 
        </p>
        <p><a class="btn btn-default" href="http://localhost:51120/teamquery">Find Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Check on recruits</h2>
        <p>Learn more about recruited players</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Forums</h2>
        <p>Join the forums to connect with the lacrosse world</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>More Forums</h2>
        <p>Join the forums to connect with the lacrosse world</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
