<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

<h1>Find Team Info</h1>
{% csrf_token %}

{% block content %}

<div class="fieldWrapper">
    <h3> Team State</h3>
    <form method="post">
        <select name="teamState">
            {% for state in form.choiceTeamState.choices %}

            <option value="{{ state }}">{{ state }}</option>

            {% endfor %}
        </select>
        <h3> Team Conference</h3>
        <select name="teamConference">
            {% for conf in form.choiceFormConf.choices %}

            <option value="{{ conf }}">{{ conf }}</option>

            {% endfor %}
        </select>

        {% csrf_token %}
        <button type="submit" name="team_filters" value="team_filters">Apply Filters</button>

         <h3> Teams Tracked </h3>
   
        <select name="dropTeamName">
            {% for teamName in form.choiceTeamNames.choices %}

            <option value="{{ teamName }}">{{ teamName }}</option>

            {% endfor %}
        </select>


        <button type="submit" name="select_team" value="select_team">Select Team</button>


    </form>
</div>


<div class="fieldWrapper">
    <h3> Desired Team </h3>
    <form method="post">
        {% csrf_token %}
        
        <label>Team Name:</label>
        {{ teamInfo.name }}
        <label>Team Home State</label> 
        {{ teamInfo.state}}
        <label>Team Division</label> 
        {{ teamInfo.division }}
        <label>Conference</label> 
        {{teamInfo.conference}}
        <label>Coach</label> 
        {{teamInfo.coach}}
        <label>Power Rating</label> 
        {{teamInfo.powerrating}}

    </form>
</div>
{% endblock %}


