<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

<h1>Find Team Info</h1>
{% csrf_token %}

{% block content %}



<div class="row">
    <div class="col-md-3">
        <div class="demo-content bg-alt">Search Filters
        <form method="post">
        {% csrf_token %}
            <h4> Team State</h4>
            <select name="teamState">
                {% for state in form.choiceTeamState.choices %}
                    <option value="{{ state }}">{{ state }}</option>
                {% endfor %}
            </select>

            <h4> Team Conference</h4>
            <select name="teamConference">
                {% for conf in form.choiceTeamConf.choices %}
                    <option value="{{ conf }}">{{ conf }}</option>
                {% endfor %}
            </select>
            <h4> Team Division</h4>
            <select name="teamDivision">
                {% for division in form.choiceTeamDivision.choices %}
                    <option value="{{ division }}">{{ division }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-primary btn-sm" name="team_filters" value="team_filters">Apply Filters</button>

        <h3>Available Teams</h3>
            <select name="dropTeamName">
                {% for teamName in form.choiceTeamNames.choices %}
                    <option value="{{ teamName }}">{{ teamName }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-primary btn-sm btn-block" name="select_team" value="select_team">Select Team</button>

        </div>

        
        </form>
    </div>
    <div class="col-md-3">
        <div class="demo-content bg-alt">Team Info
        <form method="post">
            {% csrf_token %}
     
            <H2>{{ teamInfo.name }}</H2>
            <h4>Team Home State - {{ teamInfo.state}}</h4> 
            
            <h4>Team Division - {{ teamInfo.division }} </h4>
            <h4>Conference -  {{teamInfo.conference}} </h4> 
          
            <h4>Coach - {{teamInfo.coach}} </h4> 
            
            <h4>Power Rating - {{teamInfo.powerrating}}</h4> 
            
            {% if form.renderButtons %}
            <div class="btn-group-vertical btn-group-md btn-block" role="group" aria-label="teamAction">
                <button type="submit" class="btn btn-primary" name="team_actions" value="listSchedule">Schedule</button>
                <button type="submit" class="btn btn-secondary" name="team_actions" value="listLeagueRanking">League Ranking</button>
                <button type="submit" class="btn btn-primary" name="team_actions" value="listStateRanking">State Ranking</button>
            </div>
            {% endif %}
        </form>
        </div>
    </div>
    <div class="col-md-6">
       
        {% if schedule %}
        <div class="demo-content">Schedule
            <table style="width:100%">
                <tr>
                    <th bgcolor="#c9d8f2">Away</th>
                    <th bgcolor="#c9d8f2">Score</th>
                    <th bgcolor="#c9d8f2">Home</th>
                    <th bgcolor="#c9d8f2">Score</th>
                    <th bgcolor="#c9d8f2">Date</th>
                    <th bgcolor="#c9d8f2">Verified</th>
                </tr>
                {% for game in games %}
                    <tr bgcolor={{game.bgColor}}>
                        <td> {{ game.awayteamname }} </td>
                        <td> {{ game.awayscore }} </td>
                        <td> {{ game.hometeamname }} </td>
                        <td> {{ game.homescore }} </td>
                        <td> {{ game.gamedate }} </td>
                        <td> {{ game.verified }} </td>
                    </tr>
                {% endfor %}
            </table>
            <table style="width:40%">
                <tr bgcolor="#D3D3D3">
                    <td>Season Record </td>
                    <td> {{wins}} </td>
                    <td>:</td>
                    <td> {{losses}} </td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% if basicranking %}
        <div class="demo-content">Rank
            <table style="width:100%">
                <tr bgcolor=#D3D3D3>
                    <th bgcolor="#c9d8f2">Team Name</th>
                    <th bgcolor="#c9d8f2">Wins</th>
                    <th bgcolor="#c9d8f2">Loss</th>
                    <th bgcolor="#c9d8f2">Ties</th>
                    <th bgcolor="#c9d8f2">GB</th>
                </tr>
                {% for team in rankedlist %}
                <tr bgcolor=#D3D3D3>
                    <td> {{ team.name }} </td>
                    <td> {{ team.wincount }} </td>
                    <td> {{ team.losscount }} </td>
                    <td> {{ team.tiecount }} </td>
                    <td> {{ team.gamesbehind }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>

    

{% endblock %}


